* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'montserrat', sans-serif;
    background-image: url('assets/bg2.jpg');
    background-size: cover;
    background-position: top center;

}

.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #49b104;
    color: #313131;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

header input:focus {
    background-color: rgba(255, 255, 255, 0.6);
}

header input:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

main {
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.location .city {
    color: #ffffff;
    font-size: 50px;
    font-weight: 500;
    text-shadow: 2px 5px rgba(0, 0, 0, 0.6);
    margin-bottom: 5px;
}

.location .date {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 20px;
}

.current {
    margin-top: 20px;
    padding: 25px 25px 25px 25px;
    background-color: rgba(255, 255, 255, 0.3);
    fill-opacity: 0.7;
    border-radius: 16px 16px 16px 16px;
    border-bottom: 1px solid #49b104;
}

.current .temp {
    color: #ffffff;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}

.current .temp span {
    font-weight: 500;
}

.current .weather {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .hi-low {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}

.current .feels-like {
    color: #ffffff;
    margin-top: 10px;
    font-style: italic;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .humidity {
    color: #ffffff;
    margin-top: 5px;
    font-style: italic;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .pressure {
    color: #ffffff;
    font-style: italic;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .wind {
    color: #ffffff;
    font-style: italic;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}